@tailwind base;
@tailwind components;
@tailwind utilities;


/* TODO: */
/* *BUTTON STYLE */


@layer components {
  .btn-style {
    @apply bg-[#126912] rounded-sm py-2 lg:px-[2rem] lg:py-[.8rem] text-white font-bold;
  }
  .input-style {
    @apply drop-shadow-md px-4 pt-4 pb-2 placeholder:font-thin placeholder:text-[.9rem] w-full
    outline-none rounded-md;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  background-color: black;
  
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  font-family: 'Inter';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  background-color: #EBFFE5;
}
.nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #bce8b1;
  color: black;
  font-size: 24px;
  font-family: Inter;
  font-weight: 300;
  padding: 0;
}


.nav-container-left {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #bce8b1;
}


.nav-container-right {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #bce8b1;
}
ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #bce8b1;
  padding: 15px;
}
.logo {
  display: flex;
  justify-content: center;
  background-color: #bce8b1;
  width: 200px;
  height: 50px;
  margin: 10px;
}


/*  main*/
.main-container {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}


/*dashboard*/
.dash-card-container {
  display: flex;
  justify-content: center;
}
.dash-card {
  width: 250px;
  height: 254px;
  border-radius: 20px;
  background-color: #ffffff;
  position: relative;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #bce8b1;
  transition: 0.5s ease-out;
  overflow: visible;
}

.dash-card-details {
  background-color: #ffffff;
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}


.dash-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #126912;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
.dash-card {
  background-color: #bce8b1;
}
.dash-text-body {
  background-color: #96c58a;
  color: rgb(0, 0, 0);
}
.dash-card-details {
  background-color: #bce8b1;
}


/*Text*/
.dash-text-title {
  background-color: #bce8b1;
  font-size: 1em;
  font-weight: 300;
}
.dash-h3-card {
  background-color: #bce8b1;
}


/*Hover*/
.dash-card:hover {
  border-color: #126912;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}


.dash-card:hover .dash-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
/*Personal Info*/
.profile-option-container {
  display: flex;
  justify-content: space-around;
}

.profile-card {
  width: 300px;
  height: 220px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
}


.profile-card-title {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(26, 26, 26);
}


.profile-card-option {
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(99, 99, 99);
}
/**/
.update-info {
  width: 350px;
  height: 250px;
  display: flex;
  grid-gap: 1.25rem;
  gap: 1.25rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
}


.picture-left {
  justify-content: center;
  width: 500px;
  height: 150px;
  border-radius: 0.75rem;
  background-color: black;
}


.information-right {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  grid-gap: 1.25rem;
  gap: 1.25rem;
}


.update-details {
  height: 3.5rem;
  width: 100%;
  border-radius: 1rem;
}


.bottom {
  margin-top: auto;
  display: flex;
  grid-gap: 0.75rem;
  gap: 0.75rem;
}


/*CourseList*/
.first {
  width: 100px;
  height: 100px;
  background: red;
  overflow: hidden;
}
.CourseList-container {
  display: grid;
  justify-content: center;
}
.CourseList-card-container {
  display: flex;
  justify-content: center;
  
}
.CourseList-card {
  width: 1000px;
  height: 150px;
  border-radius: 20px;
  background-color: #0e3b03;
  position: relative;
  padding: 2rem;
  margin: 1rem;
  border: 2px solid #0e3b03;
  transition: 0.5s ease-out;
  overflow: visible;
  display: center;
}


.CourseList-card-details {
  background-color: #0e3b03;
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}
.CourseList-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #126912;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}


.CourseList-text-body {
  background-color: #0e3b03;
  color: rgb(250, 250, 250);
}


/*Text*/
.CourseList-text-title {
  background-color: #0e3b03;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
}
.CourseList-h3-card {
  background-color: #0e3b03;
  color: #fff;
}


/*Hover*/
.CourseList-card:hover {
  border-color: #1e6c0b;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}


.CourseList-card:hover .CourseList-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* button:hover { */
  /* background-color: #4ba235; */
/* } */

.button1{
  padding: 50px;
}

/*footer*/
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*AddNewCourseCard*/